@media (max-width:820px) {
    html,
	body{
	width:100%;
	overflow-x:hidden;
	}

    .search-flight > button{
        width: 21%;
    }
    .search-hotels > button{
        width: 23%;
        left: 20%;
    }
    .search-rentacar > button {
        width: 23%;
        left: 42%;
    }
    .search-hotels > .buttoni_texth {
        margin-left: 20px;
        position: absolute;
        top: 31%;
        left: 34%;
    }
    .registri {
        left: 73%;
        top: 41%;
    }
    .buttoni-signin {
        left: 80.5%;
        top: 29%;
        box-shadow: none 2px 2px 8px black;
    }
    .language {
        left: 91%;
        top: 44%;
    }
    .from-label {
        left: 30px;
    }
    #fromoption {
        width: 350%;
        left: 81%;
    }
    .to-label {
        left: 544%;
    }
    #fromoption-second {
        width: 350%;
        left: 526%;
    }
    .dot {
        left: 432%;
    }
    .date-from {
        width: 163px;
        left: 52%;
    }
    .date-to {
        width: 165px;
        left: 75%;
    }
    .second-main-2 {
        height: 600px;
    }
    .contentipar {
        top: 27%;
    }
    .cententidyte {
        top: 30% !important;
    }
    .section3 {
        background-size: 1314px 608px;
    }
    .title {
        top: 9%;
    }
    .paragrahitraveltips {
        width: 100%;
        top: 32%;
    }
    .buttoniinspired {
        top: 71%;
    }
    .grid2-section4 {
        margin: 0px 5px 0px 5px;
    }
    .h1-text > h1 {
        width: 55%;
        top: 16%;
    }
    .h1-text > p {
        width: 50%;
        top: 44%;
        left: 26%;
    }
    .h1-text > a {
        width: 150px;
        top: 60%;
        left: 41%;
        font-size: 20px;
    }
    .section6 {
        height: 848px;
    }
    .wrapper-6 {
        grid-template-columns: repeat(2, 1fr);
    }
    .texti-7 {
        width: 41%;
        left: 5%;
    }
    .inputi-subrscribe {
        width: 145%;
    }
    .radio-input {
        width: 100%;
    } 
    .section8 {
        height: 290px
    }
    .footer-1 {
        width: 31%;
    }
    .footer-2 {
        left: 34%;
    }
    .footer-3 {
        left: 49%;
    }
    .footer-4 {
        left: 60%;
        width: 30%;
    }
    .border-line {
        top: 69%;
    }
    .icon-social {
        left: 69%;
        top: 76%;
    }
}