@media (max-width:390px) {
    html,
	body{
	width:100%;
	overflow-x:hidden;
	}
    nav  {
        background: #70C1D4;
    }
   
    .section3 {
        width: 437px;
    }
    .second-main-2 {
        width: 437px;
        height: 800px!important;
    }
    nav .nav-list {
      display: grid;
      position: absolute;
      background: #70C1D4;
      width: 50%;
      height: 200px;
      top: 18%;
      left: 50%;
      transform: translateY(-100%);
        z-index: -1;
      transition: .6s;
    }
    nav .navbar-toggler {
      display: grid !important;
    }
  
  nav .nav-list {
    text-align: center;
  }
  nav .navbar-toggler {
    display: none;
    height: min-content;
    margin:15px 20px 0 0;
    cursor: pointer;
    float: right;
  }
  nav .navbar-toggler .bar {
    display: block;
    width: 30px;
    height: 5px;
    margin-bottom: 10px;
    background: #ffffff;
    border-radius: 10%;
    transition: .4s;
  } 
  .input-toggle {
    display: none;
  
  }
  input:checked ~ nav .nav-list{
    transform: translateY(0);
    top: 50px;
    z-index: 1;
  }
  input:checked ~.navbar-toggler {
    margin-top: 20px;
  }
  input:checked ~ nav .navbar-toggler .bar:nth-child(1) {
    position: absolute;
    transform: rotate(45deg);
  }
  
  input:checked ~ nav .navbar-toggler .bar:nth-child(2) {
    display: none;
  }
  
  input:checked ~ nav .navbar-toggler .bar:nth-child(3) {
    transform: rotate(-45deg);
  }
  .registri {
    left: -15%;
    top: -15%;
}
.language {
    left: 59%;
    top: -14%;
}
.buttoni-signin {
    left: 14.5%;
    top: -18%;
    box-shadow: none 2px 2px 8px black;
}
  .center-text {
    display: grid;
    margin: auto;
    justify-content: center;
    bottom: 50px;
    position: relative;
    left: 10%;
}
.center-text>h1{
    color: white;
    font-size: 54px;
    font-family: 'Silom', sans-serif;
}
.search-div{
    background: none;
    display: grid;
    position: relative;
    width: 480%;
    height: 150px;
    top: 90%;
   left: -80%;
}
.search-flight > button{
    width: 477px;
    border-radius: 0px 0px 0px 0px; 
    background-color: white;
    top: 10%;
    z-index: 1;

}
.search-hotels > button {
    display: block;
    position: absolute;
    border: none;
    width: 477px;
    height: 50px;
    border-radius: 0px 0px 0px 0px;
    background-color: #70C1D4;
    left: -5%;
    top: 39%;
    z-index: 1;
    box-shadow: inset 0 0 6px black;
}
.search-hotels > .buttoni_texth {
    left:44%;
}
.search-rentacar > button {
    display: block;
    position: absolute;
    border: none;
    width: 477px;
    height: 50px;
    border-radius: 0px 0px 0px 0px;
    background-color: #70C1D4;
    left: 0%;
    top: 72%;
    z-index: 1;
    box-shadow: inset 0 0 6px black;
}
.search-rentacar > .button_svg {
    position: absolute;
    left: 14%;
    top: 25%;
}

.contentipar {
    top: 72%;
    width: 90%;
}
.cententidyte {
    top: 75% !important;
    width: 90%;
}
.buttoni-rentsearch {
    left: 127%;
    top: 379%;

}
.buttoni-hotelsearch {
    top: 379%;
    left: 127%;
}
.buttoni-searchflight {
    top: 379%;
    left: 127%;
}
.check-radio {
    top: 121%;
    display: flex;
    left: 47%;
}
.check-radio > label{
    margin-right: 20px;
}
.from-div {
    top: 598%;
}
.from-label {
    margin-left: 20px;
    position: relative;
    top: -53px;
    left: 37px;
}
.to-label {
    top: 73%;
    left: 45%;
}
#fromoption {
    width: 420%;
    position: absolute;
    left: 40%;
    bottom: 50%;
}
#fromoption-second {
    width: 420%;
    left: 40%;
    top: 120%;
}
.dot {
    visibility: hidden;
    position: absolute;
}
.date-from {
    width: 420%;
    left: 34%;
    top: 270%;
    border-radius: 5px;
}
.date-to {
    width:420%;
    border-left: 1px solid #7CD2E3;
    left: 40%;
    top: 318%;
}
.date-from-hotels {
    width: 420%;
    left: 33%;
    top: 123%;
    margin-left: 5px;
    border-radius: 5px;
}
.date-to-hotels {
    width: 420%;
    border-left: 1px solid #7cd2e3;
    left: 42%;
    top: 170%;
    border-radius: 5px;
}
.adult-to-hotels {
    width: 420%;
    border-left: 1px solid #7cd2e3;
    left: 42%;
    top: 218%;
    border-radius: 5px;
}

.children-to-hotels {
    width: 420%;
    border-left: 1px solid #7cd2e3;
    left: 42%;
    top: 309%;
    border-radius: 5px;
}
.room-to-hotels {
    width: 420%;
    border-left: 1px solid #7cd2e3;
    left: 42%;
    top: 263%;
    border-radius: 5px;
}
.date-from-rentacar {
    width: 420%;
    left: 37%;
    top: 123%;
    border-radius: 5px;
}
.date-to-rentacar {
    width: 420%;
    border-left: 1px solid #7cd2e3;
    left: 42%;
    top: 170%;
    border-radius: 5px;
}
.location-to-rentacar {
    width: 420%;
    border-left: 1px solid #7cd2e3;
    left: 42%;
    top: 217%;
    border-radius: 5px;
}
.time-from-rentacar {
    width: 420%;
    border-left: 1px solid #7cd2e3;
    left: 42%;
    top: 262%;
    border-radius: 5px;
}
.time-to-rentacar {
    width: 420%;
    border-left: 1px solid #7cd2e3;
    left: 42%;
    top: 309%;
    border-radius: 5px;
}
.title {
    position: absolute;
    left: 66%;
    top: -5%;
    text-align: center;
}
.paragrahitraveltips {
    left: 27%;
    top: 37%;
    width: 137%;
    text-align: center;
}
.buttoniinspired {
    top: 87%;
    left: 42%;
}
.h1-text > h1 {
    width: 70%;
    top: 8%;
    left: 17%;
    font-size: 30px;
}
.h1-text > a {
    top: 75%;
    left: 36%;
}
.our-blog {
    top: 1%;
}
.our-blog > .h3-blog {
    width: 23%;
}
.our-blog > .h1-blog {
    width: 45%;
    font-size: 30px;
}
.wrapper-6 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    left: -1%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
    top: -11px;
}
.wrapper-1 {
    width: 147px;
    height: 195px;
    margin-bottom: 13px;
}
.image > img {
    width: 133px;
    height: 81px;
}
.contenti2 > h3 {
    font-size: 12px;
    top: 4px;
}
.content3 {
    font-size: 9px;
    margin-left: 9px;
    margin-top: 9px;
    width: 96%;
}
.bottoni {
    top: 4px;
    width: 112px;
    height: 20px;
}
.read-mori {
    padding: 3px;
    padding-left: 5px;
    font-size: 9px;
    letter-spacing: 2px;
}
.bottoni > .svg-g {
    width: 10px;
    height: 10px;
}
 .section6 {
    height: 525px;
 }
.texti-7 {
    top: 10%;
    left: 12%;
    width: 79%;
    text-align: center;
}
.texti-7 > p {
    font-size: 17px;
    font-weight: medium;
}
.texti-7 > h2 {
    font-size: 25px;
    font-weight: medium;
}
.inputi-emaili {
    width: 88%;
    margin: 95px;
    margin-right: 20px;
    top: 68px;
}
.section8{
    height: 360px;
}
.footer-1 {
    width: 35%;
    left: 4%;
    top: 1%;
}
.footer-2 {
    position: absolute;
    top: 2%;
    left: 43%;
    width: 21%;
    height: 150px;
}
.footer-3 {
    position: absolute;
    top: 2%;
    left: 68%;
    width: 28%;
    height: 150px;
}
.footer-4 {
    position: absolute;
    top: 38%;
    left: 25%;
    width: 62%;
    height: 150px;
}
.border-line {
    top: 81%;
}
.icon-social {
    position: absolute;
    top: 87%;
    left: 52%;
}

}